@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

$body-font: 'Open Sans', sans-serif;
$headings-font: 'Poppins', sans-serif;
$Pink: hsl(322, 100%, 66%);
$Light_Pink: hsl(321, 100%, 78%);
$Light_Red: hsl(0, 100%, 63%);
$Very_Dark_Cyan: hsl(192, 100%, 9%);
$Very_Pale_Blue: hsl(207, 100%, 98%);
$white: #ffffff;
